{:checkstyle {:command-options ["-c" "google_checks.xml"]}

 :cljfmt {:version "0.6.4"
          :clojure {:command-options ["--indents" "/path/to/indentation.edn"]}}

 :eastwood {:version "0.3.7"}

 :dartanalyzer {:command-options ["--no-hints"]}

 :flake8 {:command-options ["--count"
                            "--ignore=F401,E501"]}

 :jsonlint {:command-options ["-q"]}

 :kubeval {:command-options ["--strict"]}

 :markdownlint {:command-options ["-c" "/path/to/markdownlint.yaml"]}

 :stylelint {:command-options ["--config" "/path/to/stylelintrc.json"]}

 :tflint {:command-options ["-f" "json"]}

 :yamllint {:command-options ["--no-warnings"]}}
