{:checkstyle {:config "google_checks.xml"}

 :cljfmt {:indents "indentation.edn"}

 :flake8 {:command-options ["--count"
                            "--ignore=F401,E501"]}

 :stylelint {:config "stylelintrc.json"}}
