name: build binaries

on: workflow_dispatch

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - macos-15-intel      # amd64 (x86_64)
          - macos-15            # aarch64 (arm64)
          - ubuntu-24.04        # amd64 (x86_64)
          - ubuntu-24.04-arm    # aarch64 (arm64)
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup GraalVM
        uses: graalvm/setup-graalvm@v1
        with:
          java-version: '21'
          distribution: 'graalvm-community'
          version: '22.3.0'

      - name: Setup Clojure
        uses: DeLaGuardo/setup-clojure@13.5
        with:
          cli: '1.12.4.1602'

      - name: Test
        run: clojure -X:test

      - name: Build
        run: clojure -T:build bin

      - name: Get version
        id: get-version
        run: echo "version=$(./bosslint --version)" >> "$GITHUB_OUTPUT"

      - name: Upload
        uses: actions/upload-artifact@v6
        with:
          name: bosslint-${{ steps.get-version.outputs.version }}-${{ matrix.os }}
          path: target/bosslint*
